img {
    max-width: 100%;
    height: auto
}

html,
body,
div,
span,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

.header-content {
    position: relative;
    z-index: 20
}

.header-content-inner {
    position: relative
}

.header-content-inner:before,
.header-content-inner:after {
    display: table;
    clear: both;
    height: 0;
    content: ''
}

.c-container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1400px
}

.c-container:before,
.c-container:after {
    display: table;
    clear: both;
    height: 0;
    content: ''
}

.header-branding {
    position: relative;
    float: left;
    padding: 30px 0;
    margin: 0;
    -webkit-transition: margin 300ms ease-in-out;
    -moz-transition: margin 300ms ease-in-out;
    -ms-transition: margin 300ms ease-in-out;
    -o-transition: margin 300ms ease-in-out;
    transition: margin 300ms ease-in-out
}

.header-branding a {
    display: inline-block
}

.header-branding span {
    display: block
}

.m-header-map-active .header-branding {
    margin-top: -400px
}


@media (max-width: 991px) {
    .c-container {
        padding-left: 20px;
        padding-right: 20px
    }
    .header-content {
        padding-bottom: 12px
    }
    .header-branding {
        float: none;
        padding: 20px 0
    }
    .header-branding a {
        display: block;
        position: static
    }
    .header-branding span {
        text-align: center
    }
}


.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10
}

.header-image {
    position: relative;
    height: 600px;
    z-index: 10
}

.header-image:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    z-index: 20;
    -webkit-transition: height 300ms ease-in-out;
    -moz-transition: height 300ms ease-in-out;
    -ms-transition: height 300ms ease-in-out;
    -o-transition: height 300ms ease-in-out;
    transition: height 300ms ease-in-out
}

.header-image .image-layer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat
}

.header-image .image-layer:first-child {
    display: block
}

.header-image .image-layer.m-active {
    display: block;
    z-index: 20
}

.header-image .image-layer.m-next {
    display: block;
    z-index: 10
}

@media print {
    body {
        background: white;
        color: black
    }
    .header-bg,
    .header-tools,
    .header-toggle-holder,
    .header-menu,
    .header-gmap {
        display: none
    }

    #footer {
        display: none
    }
}